---
import "../styles/reset.css"
const { title } = Astro.props;
import Navmenu from "../components/Navmenu.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<Navmenu />
		<slot />
	</body>
</html>
